.container {
  max-width: 1200px;
  margin: auto;

  padding: 20px; 
}
.popular-categories-container {
  border-top: 1px solid #e0e0e0; 
  padding-top: 1px; 
  margin: 20px;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}


.card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

/* .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} */

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.95rem;
  color: #6c757d;
}


.bg-success {
  border-radius: 12px;
  font-weight: bold;
  text-align: center;
}

.bg-success .btn-light {
  font-size: 0.85rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
}


@media (max-width: 992px) {
  h2 {
    font-size: 1.6rem;
  }

  .card-title {
    font-size: 1.8rem;
  }

  .card-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }

  .card {
    margin-bottom: 1rem;
  }

  .card-title {
    font-size: 1.5rem;
  }

  .card-text {
    font-size: 0.85rem;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 1.3rem;
  }

  .card-title {
    font-size: 1.3rem;
  }

  .card-text {
    font-size: 0.8rem;
  }
}  